<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register Page</title>
</head>

<body>
    <h1>Register User</h1>
    <form method="POST" action="/worko/register">
        <input type="text" name="email" placeholder="Enter Email" required>
        <br><br>
        <input type="text" name="name" placeholder="Enter Name" required>
        <br><br>
        <input type="number" name="age" placeholder="Enter Age" required>
        <br><br>
        <input type="text" name="city" placeholder="Enter City" required>
        <br><br>
        <input type="text" name="zipCode" placeholder="Enter ZipCode" required>
        <br><br>
        <input type="submit" value="Register">
    </form>
</body>

</html>